<ul>
    <%for(var i=0;i<list.length;i++){%>
    <%var d=list[i]%>
    <li>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </li>
    <%}%>
</ul>