@import "../../common/common";

.swiper-container {
  > ol {
    $h: 17px;
    position: absolute;
    bottom: 7px;
    right: 7px;
    overflow: hidden;
    li {
      margin-left: 5px;
      float: left;
      width: $h;
      @include h_lh($h);
      text-align: center;
      font-size: 12px;
      border: 1px solid $mainColor;
      color: $mainColor;
      &.current {
        border: 1px solid #00ffff;
        color: #00ffff;
      }
    }
  }
}

.main {
  .part1, .part2, .part3 {
    margin-top: 10px;
  }
  .wrap + .wrap {
    margin-left: 15px;
  }
;
  .wrap {
    background-color: $bgColor;
    border: 1px solid $mainColor;
    overflow: hidden;
    .title {
      overflow: hidden;
      border-bottom: 1px solid $mainColor;
      @include h_lh(40px);
      padding-left: 15px;
      color: $mainColor;
      font-size: 16px;
      span.current {
        color: #00ffff;
      }
    }
  }
}

#slide-sszxqk,#slide-sspjqk {
  overflow: hidden;
  ul {
    li {
      color: white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      span {
        padding-left: 5px;
        font-size: 14px;
        &.dept, &.doc {
          color: $mainColor;
        }
      }
    }
  }
}

footer {
  line-height: 30px;
  text-align: center;
  color: white;
  font-size: 14px;
}