@import "../../common/common";
.swiper-container{
  >ol{
    $h:20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    li{
      margin-left: 5px;
      float: left;
      width: $h;
      @include h_lh($h);
      text-align: center;
      font-size: 12px;
      border: 1px solid $mainColor;
      color: $mainColor;
      &.current {
        border: 1px solid #00ffff;
        color: #00ffff;
      }
    }
  }
}


.main {
  .part1, .part2, .part3 {
    margin-top: 15px;
  }
  .wrap+.wrap{
    margin-left: 15px;
  }
;
  .wrap {
    background-color: $bgColor;
    border: 1px solid $mainColor;
    overflow: hidden;
    .title{
      overflow: hidden;
      border-bottom: 1px solid $mainColor;
      @include h_lh(40px);
      padding-left: 15px;
      color: $mainColor;
      font-size: 16px;
      span.current{
        color: #00ffff;
      }
    }
  }
}