@import "../../common/common";

.main {
  .total {
    $h: 100px;
    height: $h;
    > div {
      padding-top: 25px;
      width: 50%;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      > div {
        display: inline-block;
      }
    }
  }
  .data {
    .map {
      width: 50%;
      #map {
        margin: 0 25px;
      }
    }
    .charts {
      width: 50%;
      .title {
        @include h_lh(40px);
        color: $mainColor;
        font-size: 16px;
        padding-left: 15px;
        border-bottom: 1px solid $mainColor;
      }
      .container {
        padding: 10px;
      }
      .wrap {
        background-color: $bgColor;
        border: 1px solid $mainColor;
      }
      .reg-part {
        .pielist {
          ul {
            overflow: hidden;
            li {
              width: 25%;
              float: left;
            }
          }
        }
      }
      .download-part {
        margin-top: 15px;
        position: relative;
        .line {
          position: absolute;
          left: 40%;
          top: 50px;
          bottom: 10px;
          width: 1px;
          background-color: $mainColor;
        }
        .pie {
          border-right: 0px none;
          width: 40%;
          .title{
            .current{
              color: #00ffff;
            }
          }
          #swiper {
            overflow: hidden;
            position: relative;
            ol {
              $h: 20px;
              position: absolute;
              left: 0;
              bottom: 0;
              overflow: hidden;
              li + li {
                margin-left: 5px;
              }
              li {
                float: left;
                width: $h;
                @include h_lh($h);
                text-align: center;
                font-size: 12px;
                border: 1px solid $mainColor;
                color: $mainColor;
                &.current {
                  border: 1px solid #00ffff;
                  color: #00ffff;
                }
              }
            }
          }
        }
        .bar {
          border-left: 0px none;
          width: 60%;
        }
      }
    }
  }
}
#slide{
  margin: 15px auto 0;
  overflow: hidden;
  ul {
    li {
      color: white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      span {
        padding-left: 5px;
        font-size: 14px;
        &.dept, &.doc {
          color: $mainColor;
        }
      }
    }
  }
}