<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运营数据</title>
</head>
<body>
<header></header>
<div class="main">
    <div class="oh total">
        <div class="fl user">
            <div label="累计注册用户" id="user_total" total="87123" class="module-number"></div>
        </div>
        <div class="fr server">
            <div label="累计服务人次" id="server_total" total="987653" class="module-number"></div>
        </div>
    </div>
</div>
<footer></footer>
</body>
</html>