<div class="logo">
    <img src="<%= require("../../../static/img/logo.png") %>" alt="">
</div>
<div class="text">
    浙二好医生
    <% for(var d in list){ %>
    <a class="<% if(env == d){ %>current<% } %>"
       href="<%= makeUrl($.extend({}, options, {query: {env: d}})) %>"><%= list[d].name %></a>
    <% } %>
</div>
<div class="time module-time"></div>